#nav{
  background-color: white;
  height: 105px;
  margin-top: 0;
}
#logo{
  height: 115px;
  width: 75px;
  padding-bottom: 45px;
}
#brand{
  height: 100px;
  width: 190px;
  padding-bottom: 35px;
}
#search{
  padding-top: 30px;
  text-align: center;
}
#bar{
  width:700px;
  display: inline-block;
}
/* #searchlogo{
  padding-left: 360px;
} */
